body{
    margin: 30px;
}
.cabecera img{
    display: block;
    padding: 10px;
}
.ingredientes{
    display: flex;
    justify-content: space-between;
}
    .ingredientes ol:nth-child(2){
        margin-right: 100px;
    }
        .ingredientes ol{
            list-style: none;
        }

   